html, body { margin:0; padding:0; }
body { margin:0 auto; color: #828282; }
ul,li { list-style: none; margin:0; padding:0; }
a { text-decoration: none; }
a:hover { text-decoration: none; color:#88b5e5; }
h1,h2,h3,h4,h5 { margin: 0; padding: 0; }

::selection { background-color: #2196f3; color: #fff; }
.glyphicon { color:#828282; }

.rs-top-menu { 
	background-color: #FFF;
	border-bottom: 1px solid #DFDFDF;
	line-height: 66px;

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 68px;
	text-align: left;
	transition: all .2s;
	z-index: 100000;

	font-size: 16px;
	box-shadow: 0 4px 5px -2px rgba(0, 0, 0, .22), 0 2px 1px -1px rgba(0, 0, 0, .05);
}

.rs-menu-container {
	position: relative;
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
	height: 68px;
	/*box-shadow: 0 4px 5px -2px rgba(0, 0, 0, .22), 0 2px 1px -1px rgba(0, 0, 0, .05);*/
}

.rs-menu-fixed { /*position: fixed;*/ }
.rs-menu-left, .rs-menu-left div, .rs-menu-left nav, .rs-menu-left ul, .rs-menu-left li { display: inline-block; }
.rs-logo { margin-right:20px; }
.rs-menu-left a { text-decoration: none; color: #828282; font-weight: 400; padding:0 15px; }
.rs-menu-left a:hover { color:#337ab7; }

.rs-body { margin-top: 100px; min-height: 550px; }
.rs-post-list {  }
.rs-pl-item {  }
.rs-pl-item img { max-width: 165px; max-height: 165px; }
.rs-pl-item h2 { margin-bottom: 0.5em; color: 000; font-size: 24px; }
.rs-pl-item h2 a { color: #000; }
.rs-pl-item h2 a:hover { color: #88b5e5; }

.rs-post-detail { display:block; position: relative; }
.rs-post-title {  }
.rs-post-content {  }

.rs-google-ad { border:1px solid #eee; min-height: 100px; }

.rs-footer { background-color: #4a4a4a; min-height: 100px; }