// 使用SCSS进行CSS开发 2018-04-21 by shiqiang

//col,col-sm,col-md,col-lg,col-xl
$font-family-sans-serif:
  // Safari for OS X and iOS (San Francisco)
  -apple-system,
  // Chrome < 56 for OS X (San Francisco)
  BlinkMacSystemFont,
  // Windows
  "Segoe UI",
  // Android
  "Roboto",
  // Basic web fallback
  "Helvetica Neue", Arial, sans-serif,
  // Emoji fonts
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

html, body { font-family: $font-family-sans-serif; }

// Basic Codes
.rs-head {
	border-bottom:1px solid #333;

	h1 {
		a {
			font-size: 1rem;
			text-indent: -9999px;
			text-decoration: none;
		}

		a:hover {

		}
	}
}

.rs-body {
	.rs-content {
		.rs-left {
			font-size: 12px;
		}

		.rs-right {
			font-size: 10px;
		}
	}
}

@media (min-width: 320px ) {
	html {
		font-size: 12px;
	}

	body {
		color: purple;
	}	
}

@media (min-width: 375px ) {
	html {
		font-size: 12px;
	}

	body {
		color: purple;
	}	
}

@media (min-width: 414px ) {
	html {
		font-size: 14px;
	}

	body {
		color: purple;
	}	
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
	html {
		font-size: 14px;
	}

	body {
		color: yellow;
	}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
	html {
		font-size: 16px;
	}

	body {
		color: blue;
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	html {
		font-size: 16px;
	}

	body {
		color: green;
	}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
	html {
		font-size: 16px;
	}

	body {
		color: red;
	}
}

