// 使用SCSS进行CSS开发 2018-04-21 by shiqiang
// 规则：
// ID都使用中横线，CLASS都使用下划线
//    

//col,col-sm,col-md,col-lg,col-xl
$font-family-sans-serif:
  // Safari for OS X and iOS (San Francisco)
  -apple-system,
  // Chrome < 56 for OS X (San Francisco)
  BlinkMacSystemFont,
  // Windows
  "Segoe UI",
  // Android
  "Roboto",
  // Basic web fallback
  "Helvetica Neue", Arial, sans-serif,
  // Emoji fonts
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

html, body { font-family: $font-family-sans-serif; }

// Basic Codes
@media (min-width: 320px ) {
	html {
		font-size: 12px;
	}

	body {

	}	

	#rs-nav {

	}

	#rs-content {
		padding-top:1rem;
	}

	.rs_pl_item { margin:0 0 40px; }
	.rs_pl_item img { max-width: 165px; max-height: 165px; }
	.rs_pl_item h2 { margin-bottom: 0.5em; color: 000; font-size: 22px; }
	.rs_pl_item h2 a { color: #000; }
	.rs_pl_item h2 a:hover { color: #88b5e5; }
	.rs_pl_meta { margin:0.5em 0;  }
	.rs_pl_content { margin-bottom: 20px; }

	.rs-register-required { color:red; }
	.rs_error_tip { padding-left: 4em;}
	.rs-register-error { color:red; font-size: 0.8em; }

	#rs-post-list {

	}

	#rs-footer {
		padding-top:1rem;
	}

	#rs-google-ad {
		width: auto;
		height: auto;
	}

	ul.rs_friendlink {
		list-style: none;
		padding: 0;
		margin: 0;
		-webkit-padding-start: 0;
	}

	ul.rs_friendlink li {
		padding: 0;
	}

	ul.rs_friendlink li a {
		color: #ffffff;
	}
}

@media (min-width: 375px ) {
	html {
		font-size: 12px;
	}

	body {

	}	
}

@media (min-width: 414px ) {
	html {
		font-size: 14px;
	}

	body {

	}	
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
	html {
		font-size: 14px;
	}

	body {

	}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
	html {
		font-size: 16px;
	}

	body {

	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	html {
		font-size: 16px;
	}

	body {

	}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
	html {
		font-size: 16px;
	}

	body {

	}
}

