.rs-head {
  border-bottom: 1px solid #333;
}
.rs-head h1 a {
  text-decoration: none;
}
.rs-body .rs-content .rs-left {
  font-size: 12px;
}
.rs-body .rs-content .rs-right {
  font-size: 10px;
}

@media (min-width: 414px) {
  body {
    color: purple;
  }
}
@media (min-width: 576px) {
  body {
    color: yellow;
  }
}
@media (min-width: 768px) {
  body {
    color: blue;
  }
}
@media (min-width: 992px) {
  body {
    color: green;
  }
}
@media (min-width: 1200px) {
  body {
    color: red;
  }
}
